
# Generated Stuff
.sass-cache
.sass-cache/*

# Node Modules
node_modules/*
node_modules

# OS X Junk
.DS_Store
.DS_Store/*

# Not-Needed System Files
*.swp
*.bak

#Bower
bower_components
bower_components/*

#The assets folder is a basically a build folder
assets
assets/*