
# Generated Stuff
.sass-cache
.sass-cache/*
css/*.map

# bundling output
build/*
build
dist/*
dist

# Node Modules
node_modules/*
node_modules


# OS X Junk
.DS_Store
.DS_Store/*


# Not-Needed System Files
*.swp
*.bak

#Bower
bower_components
bower_components/*

#Final Assets Folder (Use Grunt to generate this)
assets
assets/*