/* --------------- *
 *    Variables    *
 * --------------- */

//Colors
$highlight: #92d7e9;
$base: #666666;
$secondary: #333333;
//$base: #4c4c4c;
//$secondary: #877a7f;
//$highlight: #bea15f;


//Font Families

$GloberBookItalic: "GloberBookItalic", "Helvetica Neue", Helvetica, sans-serif;
$GloberRegular: "GloberRegular", "Helvetica Neue", Helvetica, sans-serif;
$GloberRegularItalic: "GloberRegularItalic", "Helvetica Neue", Helvetica, sans-serif;
$GloberBold: "GloberBold", "Helvetica Neue", Helvetica, sans-serif;
$GloberSemiBold: "GloberSemiBold", "Helvetica Neue", Helvetica, sans-serif;
$GloberxBold: "GloberxBold", "Helvetica Neue", Helvetica, sans-serif;
