/* --------------- *
 *    Variables    *
 * --------------- */

//Colors
$highlight: #b6e9f5;
//$base: #4c4c4c;
//$secondary: #877a7f;
//$highlight: #bea15f;


//Font Families

$GloberBookItalic: "GloberBookItalic", "Helvetica Neue", Helvetica, sans-serif;
$GloberRegular: "GloberRegurlar", "Helvetica Neue", Helvetica, sans-serif;
$GloberRegularItalic: "GloberRegurlarItalic", "Helvetica Neue", Helvetica, sans-serif;
$GloberBold: "GloberBold", "Helvetica Neue", Helvetica, sans-serif;
$GloberSemiBold: "GloberSemiBold", "Helvetica Neue", Helvetica, sans-serif;
$GloberxBold: "GloberxBold", "Helvetica Neue", Helvetica, sans-serif;
