/* --------------- *
 *   Animations    *
 * --------------- */

.navigation ul li, .navigation ul li:hover {
   transition: border-color .15s ease-in-out;
 }

.section__links li a {
transition-property: padding, height, background;
transition-duration: 400ms, 400ms, 150ms;
}
