/* --------------- *
 *    Blockquote   *
 * --------------- */

blockquote {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: #7cc1d4;
  font-family: $GloberBookItalic;
  font-size: 28px;
  line-height: 1!important;
  padding: 10px 0 20px 0;
  margin: 40px 0 40px 0;


  em {
    color: black;
    font-family: $GloberBold;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.page-home blockquote {
  @include span-columns(18);
  margin: 160px 0 -60px 0;
  border-bottom: none;
}

.page-about-us blockquote  {
  @include span-columns(18);
  margin-bottom: -60px;
  border-bottom: none;
}
