/* --------------- *
 *     Images      *
 * --------------- */

img {
  width: 100%;
  height: auto;
}

.page-about-us .alignleft {
  padding-right: 20px;
  @include span-columns (7);
}

.page-about-us .right {
  @include span-columns(5);
}


.page-patients .left {
  @include span-columns(7);
}

.page-patients .right{
  @include span-columns(5);
}
