/* --------------- *
 *      Main       *
 * --------------- */

body {
	font-family: $GloberRegular;
	font-weight: normal;
}

.content {
  width: 1000px;
  @include outer-container;
  margin: 60px auto 0;
}

.header {
  width: 1000px;
}

.hero__content {
  width: 1000px;
}

.hero {
  min-width: 1000px;
}

.section {
  @include span-columns(8);
}

.sidebar {

}
