/* --------------- *
 *      Main       *
 * --------------- */

body {
	font-family: $GloberRegular;
	font-weight: normal;
}

.content {
  width: 1000px;
  @include outer-container;
  margin: 160px auto 60px;
  border-top: 1px solid black;
}

.header {
  width: 1000px;
  margin-left: 20px;
}

.hero__content {
  width: 1000px;
}

.hero {
  min-width: 1000px;
}

.inner {
  @include span-columns(8);
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid black;
  margin-top: 40px;
}

.section:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}
