/* --------------- *
 *     Sidebar     *
 * --------------- */

.sidebar {
  margin: 60px 20px 60px 0;
  width: 200px;
  display: inline-block;
  float: right;
}

.sidebar__address {
    line-height: 1.45!important;
}
.sidebar__title {
  text-transform: uppercase;
  font-size: 18px;
  font-family: $GloberBold;
}

.sidebar__title--alt {
  font-size: 16px;
  font-family: $GloberxBold;
  text-transform: uppercase;
  margin-top: 60px 0 10px 0;
}

.sidebar p {
  margin-bottom: 30px;
  line-height: 1.2;
}

.sidebar__contact-info li span {
  padding-left: 20px;
}

.sidebar__contact-info li {
  padding-bottom: 10px;
}


.sidebar__btn {
  background: $highlight;
  padding: 10px 10px 5px;;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: $GloberBold;
}
